
.mainDivItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
    color: black;
    
}

.icon{
    margin-right: 8px;
    font-size: 28px;
    color: black;
}
.profile{
    position: relative;
    left: -5px;
    color: black;
}

.text{
    font-size: 18px;
    font-weight: bold;
    
}

@media screen and (max-width: 600px) {
    .text {
    display: none;
    }
}