.mainDiv{
    height: 300px;
    width: 670px;
    margin-top: 80px;
    position: fixed;
    top: 20px;
    left: 230px;
    z-index: 2;/* this property here ensures that the mofdal does not tamper with  other elements . */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:beige;
}
.image{
    object-fit: contain;
    height: 80px;
    width: 400px;
    z-index: 2;
    border-radius: 20px;
}
.safiriH2{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    
}
.safiriButton{
    width: 200px;
    height: 50px;
}
.form{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.h3Color{
    color: goldenrod;
}