.mainMiddleContainer{
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    padding-bottom: 40px;
    margin-bottom: 2px;
    }

.right{
    position: absolute;
    top: 100px;
    left:400px;
    width: 200px;

}

.footer{
    padding-top: 10px;
    margin-top: 10px;
    top: 0;
    
}


.ticket1{
    padding-top: 20px;
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px 0px;
    box-shadow: 0px 20px blue;
    position: relative;
    top: -50px;
    left: 40px;
    gap: 5px;
}

#ticketSpan{
    color: red;
    font-size: 40px;
}

.right{
    background-color: beige;
}

.getAwarded{
    text-align: center;
    color: rgb(0, 37, 139);
    text-transform: capitalize;
    font-weight: 10px;
    font-size: 20px;
}
