#seats{
    height: 600px;
    width: '100%';
    background-color: yellow;
    padding-top: 102px;

}

#cart{
    width: 420px;
    height: 475px;
    padding-top: 100px;
    margin: 20px;
    border-radius: 20px;
    background-color:beige;
    padding-left: 20px;
    position: fixed;
    gap: 10px;

}
#proceedText{
    text-align: center;
    font-family: 'Uchen', serif;
    font-weight: 60px;
    font-size: 20px;
    margin-bottom: 5px;

}

.actualTicket{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    padding-left: 30px;

}

.button{
    position: relative;
    right: -30px;
    height: 40px;
    border-radius: 10px;
    top: 5px;
}

.h3color{
    color: goldenrod;
    font-weight: 1000px;
}
#almost{
    font-family: 'Uchen', serif;
    font-weight: 60px;
    font-size: 20px;
    text-align: center;
}

#h3price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 6px 10px;

}
.margin{
    margin-left: 20px;
}
#margin{
    margin-left: 40px;
}



#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 102px;

}

.middle {
    background-color:rgba(211, 211, 211, 0.979);
    width: 530px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;


}
input.checkBox{
    width: 100px;
    height: 60px;
}

.seatBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty{
    height: 70px;
    width: 70px;
    background-color: grey;
    position: absolute;
    top: 120px;
    left: 95px;

}
.seatsMapped{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.leftBarContainer{
    width: 215px;
    height: 600px;
    position: fixed;
    border-right: 1px solid violet;
    
}

.route{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -3px;
}